{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Jaguar Themes">
	<link rel="icon" type="image/png" href="img/favicon.png"/>
    <title>Your Life Story | PSLG</title>

	<!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom Fonts -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,800italic,700italic,600italic,400italic,300italic,800,700,600" rel="stylesheet" type="text/css">

	<!-- animation-effect -->
	<link href="{% static 'css/animate.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="{% static 'css/style.min.css' %}" rel="stylesheet" type="text/css">

    <!-- photobox -->
	<link href="{% static 'css/photobox.css' %}" rel="stylesheet" type="text/css">

    <!-- photobox -->
	<link href="{% static 'css/pink.css' %}" rel="stylesheet" id="cpswitch" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body id="page-top" data-target=".navbar" data-spy="scroll">
<!-- ================= Preloader ======================== -->
<div class="preloader">
     <div class="spinner">
          <span class="spinner-rotate"></span>
     </div>
</div>
<!-- ================= End Preloader ======================== -->

<!-- ================= Header ======================== -->
<header id="header">
	<div class="header_overlay"></div>
    <div class="header_content">
    	<h5 class="wow fadeInUp delay-02s">Your Life Story</h5>
        <h1 class="wow fadeInUp delay-03s">{{ profile.name }}</h1>
        <p class="wow fadeInUp delay-04s type-wrap"><span id="typed3"></span></p>
        <a href="#about" class="btn btn-default btn-lg page-scroll">More About Me</a>
    </div>
</header>
<!-- ================= End Header ======================== -->

<!-- ================= Navigation ======================== -->
  <nav id="nav" class="navbar navbar-custom">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"> <i class="fa fa-bars"></i> </button>
        <a class="navbar-brand page-scroll" href="#page-top">You.</a> </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse  navbar-main-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"> <a class="page-scroll" href="#header">Home</a> </li>
          <li> <a class="page-scroll" href="#about">About</a> </li>
          <li> <a class="page-scroll" href="#resume">Life Story</a> </li>
            <li> <a>Log Out</a> </li>
        </ul>
      </div>
    </div>
  </nav>
<!-- ================= End Navigation ======================== -->
`
<!-- ================= About ======================== -->
<section id="about">
	<div class="container wow fadeInUp delay-02s">
    	<div class="row">
        	<div class="col-md-12 text-center">
            	<h2 class="section-heading">About Me</h2>
            </div>
        </div>
    </div>

    <div class="container">
    	<div class="row">
        	<div class="col-md-8">
            	<div class="sort_info wow fadeInUp delay-05s">
                	<h2>Overview</h2>
                    <p>{{ overview }}</p>
                    <h2>Personas</h2>
                    <div class="container skill_progress">
                        <div class="row">
                            <div class="col-md-6 progress-element">
                                <div class="skill">
                                    <p>The Foodie<span>6.85%</span></p>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                </div>

                                <div class="skill">
                                    <p>The Fangirl/Fanboy<span>6.22%</span></p>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" >
                                        </div>
                                    </div>
                                </div>

                                <div class="skill">
                                    <p>The Melancholic<span>4.78%</span></p>
                                    <div class="progress">
                                        <div class="progress-bar active" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
            	<div class="photo text-center wow zoomIn delay-05s">
                	<img src="{% static 'img/user.png' %}" class="img-responsive img-circle img-thumbnail" alt="My Photo" style="width: 300px;">
                </div>
                <div class="personal_detail wow fadeInUp delay-07s">
                	<ul>
                    	<li><strong>Name:</strong> {{ profile.name }}</li>
                        <li><strong>Date of birth:</strong> {{ profile.birthday }} </li>
                        <li><strong>Address:</strong> {{ profile.address }}</li>
{#                        <li><strong>Occupation:</strong> Cabin Crew at Qatar Airways</li>#}
                    </ul>
                </div>
            </div>

        </div>
    </div>

</section>
<!-- ================= End About ======================== -->

<!-- ================= Achievements ======================== -->
{#<section id="achievements">#}
{#  <div class="header_overlay"></div>#}
{#  <div class="container text-center">#}
{#    <div class="row">#}
{#        <div class="col-md-4 col-sm-4 wow fadeInDown delay-06s">#}
{#            <i class="fa fa-user"></i>#}
{#            <div class="achievement-box"> <span class="count">{{ profile.numfriends }}</span>#}
{#              <h4>Facebook Friends</h4>#}
{#            </div>#}
{#          </div>#}
{#      <div class="col-md-4 col-sm-4 wow fadeInDown delay-03s">#}
{#      	<i class="fa fa-thumbs-up"></i>#}
{#        <div class="achievement-box"> <span class="count">200</span>#}
{#          <h4>Average Likes per Post</h4>#}
{#        </div>#}
{#      </div>#}
{#      <div class="col-md-4 col-sm-4 wow fadeInDown delay-04s">#}
{#      	<i class="fa fa-user"></i>#}
{#        <div class="achievement-box"> <span class="count">593</span>#}
{#          <h4>Facebook Followers</h4>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#</section>#}
<!-- ================= End Achievements ======================== -->

<!-- ================= Life Story ======================== -->
<section id="resume">
	<div class="container">
    	<div class="row">
    		<div class="col-md-12 text-center">
    			<h2 class="section-heading">Life Story</h2>
    		</div>
    	</div>

        {% for userpref in story %}
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="page-header">
                        <h3 class="wow fadeInUp delay-02s">{{ userpref.0 }}</h3>
                    </div>
                    <div class="sort_info wow fadeInUp delay-03s">
                        <p>{{ userpref.1 }}</p>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        {% endfor %}
    </div>
</section>
<!-- ================= End Life Story ======================== -->

<!-- ================= Save ======================== -->
<section id="achievements">
    <div class="header_overlay"></div>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <button type="button" class="btn btn-default btn-lg">
                    Save my Story!
                </button>
            </div>
        </div>
    </div>
</section>
<!-- ================= End Achievements ======================== -->


<!-- ================= Copyrights ======================== -->
	<aside class="bg-dark text-center">
        <h5>&copy; Copyrights 2017 | Design Developed With <i class="fa fa-heart"></i> by <a href="#">JaguarCV</a> | Tweaked by DYDE</h5>
    </aside>
<!-- ================= End Copyrights ======================== -->

<!-- ================= Scroll To top ======================== -->
<div class="scroll-top-wrapper ">
	  <span class="scroll-top-inner">
		<i class="fa fa-2x fa-arrow-circle-up"></i>
	  </span>
	</div>
<!-- ================= End Scroll To top ======================== -->

<!-- ================= Scripts ======================== -->
	<!-- jQuery -->
    <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
    <!-- Plugin JavaScript -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/circleprogressbar.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/waypoints.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/jquery.isotope.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/jquery.photobox.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/typed.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/main.min.js' %}" type="text/javascript"></script>
	<!-- animation-effect -->
	<script src="{% static 'js/wow.min.js' %}" type="text/javascript"></script>
	<script>
	 new WOW().init();
    </script>

</body>
</html>
